* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  padding: 40px;
  background-color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

h2 {
  color: #1a1a1a;
  text-align: center;
  margin-bottom: 20px;
  font-size: 48px;
}

.album-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1024px;
  margin: 0 auto;
}

.album {
  border: 3px solid black;
  border-radius: 10px;
  min-height: 100px;
  padding: 20px;
  margin: 20px;
  text-align: center;
  cursor: pointer;
}

.photo-preview {
  overflow: hidden;
  width: 200px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 10px;
}

.gallery-photo{
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  transition: opacity 0.3s ease-in-out;
}